parameters:
	excludes_analyse:
		- */_output/*
		- */vendor/*

	ignoreErrors:
		- '#^If condition is always false.$#'
		# https://github.com/phpstan/phpstan/issues/1062
		- '#^Offset .+ does not exist on#'
		- '#^Parameter \#1 \$categories of method XF\\Repository\\AbstractCategoryTree::createCategoryTree\(\) expects null#'
		- '#^Parameter \#1 \$toSerialize of static method XF\\Util\\Php::safeSerialize\(\) expects string#'
		- '#^Parameter \#2 \$keyedBy of method XF\\Mvc\\Entity\\Finder::pluckFrom\(\) expects null#'
		- '#^PHPDoc tag @property has invalid value#'
		- '#^Undefined variable: \$escape$#'

	reportUnmatchedIgnoredErrors: false

	universalObjectCratesClasses:
		- ArrayObject
		- XF\Mvc\ParameterBag

services:
	-
		class: DevHelper\PHPStan\Type\Entity
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
