includes:
    - /etc/devhelper-composer-vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	excludes_analyse:
		- */_output/*
		- */_releases/*
		- */vendor/*

	ignoreErrors:
		- '#^If condition is always false.$#'
		- '#^Parameter \#1 \$categories of method XF\\Repository\\AbstractCategoryTree::createCategoryTree\(\) expects null#'
		- '#^Parameter \#1 \$toSerialize of static method XF\\Util\\Php::safeSerialize\(\) expects string#'
		- '#^Parameter \#2 \$keyedBy of method XF\\Mvc\\Entity\\Finder::pluckFrom\(\) expects null#'
		- '#^Parameter \#2 \$type of method XF\\Mvc\\Controller::filter\(\) expects string|null#'
		- '#^PHPDoc tag @property has invalid value#'
		- '#^Undefined variable: \$escape$#'

	reportUnmatchedIgnoredErrors: false

	universalObjectCratesClasses:
		- ArrayObject
		- XF\Mvc\ParameterBag
		- XF\Payment\CallbackState

services:
	-
		class: DevHelper\PHPStan\PhpDoc\DumbUnionTypeNodeResolver
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
	-
		class: DevHelper\PHPStan\Type\Entity
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
